<div class="brand">Fishing Tournament System</div>
<div class="address-bar">Charleston, SC</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Club
                    <strong><%= link_to 'Sign in', page_path('signin'), class: "btn btn-default" %> or <%= link_to 'Register', page_path('clubregister'), class: "btn btn-default" %></strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="/assets/fish4.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>A major goal of the Fishing Tournament System (FTS) is to provide users with a full range of services with regards to their fishing needs.  One of those needs revolves around the social aspect of the sport to enhance the angler’s experience.  In order to meet this need, FTS will offer anglers the opportunity to view information about fishing clubs that make their information available through the Fishing Tournament System.  Fishing clubs will be able to post information about their club including registration information, group photos, event information as well as the ability to accept registration fees from anglers through PayPal.  Fishing clubs can:</p>
                <li>Sign up as a fishing club</li>
                <li>Pay the necessary fees to register as a local club</li>
                <li>Sign up as an organizer for a fishing tournament</li>
                <li>Share information about upcoming club events</li>
                <li>View photos and details about past, present and future tournaments</li>
                <li>Connect and share on social media</li>
                <li>Accept club dues electronically</li>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /.container -->
